<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{article-title}}</title>
    {% include templates/header.html %}
</head>
<body>
{% include templates/nav.html %}
<div class="content">
    <div class="content-container">
        <div class="article-info">
            <h1>{{meta.title}}</h1>
            <span><b>时间: </b>{{meta.timestamp|date:"yyyy-MM-dd hh:mm:ss"}}</span>
            <hr/>
        </div>
        {{content|safe}}
    </div>
</div>
<br/>
<span>{% include templates/footer.html %}</span>
</body>
</html>