@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', -apple-system, "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN",
                 "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei",
                 "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;

    background-color: #E8E9EA;
}

h1.blogure {
    margin: 30px 0;
    text-align: center;
}

h2.blogure {
    margin: -20px auto;
    text-align: center;
}


.header {
    background-color: #000000;
    position: fixed;
    overflow: hidden;
    height: 50px;
    width: 100%;
    top: 0;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.header .container {
    margin: 0 auto;
    width: 80%;
    height: 50px;
    color:white;
}

.header .container #logo {
    width: 38px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.header .container .navbar-list {
    float: right !important;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0 10px;
    height: 38px;

}

.header .container .navbar-list li {
    font-size: 20px;
    float: left;
    margin: 10px 5px 0;
    padding: 0 15px 8px;
}

.header .container .navbar-list li a {
    color: white;
    text-decoration: none;
}

.header .container .navbar-list .sel {
    border-bottom: 3px solid #FFFFFF;
}

.content {
    margin-left: 5px;
    margin-top: 60px;
}

.weak-tip {
    color: #C0C0C0;
}

.footer {
    margin: 0 auto;
}